version: '3'
services:
  #NODE Service
  app:
    image: node:${NODE_V}
    container_name: app_${DOCKER_NAME}
    env_file:
      - .env
    tty: true
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - ${SERVER_PORT}:3000
    networks:
      - app-network

  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=pass12345
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    #ports:
    #  - 27017:27017

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    environment:
      ##Password to use the aplicaction
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin123
      ##Connection DATA (user,pas,etc) to the DB
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_MONGODB_URL=mongodb://root:pass12345@mongodb:27017/chat?authSource=admin
    depends_on:
      - mongodb
    networks:
      - app-network
    ports:
      - 8081:8081

#Docker Networks
networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
